# groupby 공부 두번째
pandas로 dplyr처럼 그룹바이에 익숙해지기 위한 공부  
데이터 전처리의 엄청나게 많은 부분은 그룹바이를 잘 쓰는 것으로 해결된다고 생각한다.  
그룹바이를 자유자재로 다루자.

# 3. groupby 처리 메서드와 함수

pandas에서 groupby 적용을 할 때 (1) pandas에 내장되어 있는 기술 통계량 메서드를 사용하는 방법과, (2) (사용자정의) 함수를 agg(function) 형태로 사용할 수 있다. 기존 메서드를 사용하는 것이 성능이 최적화되어 있기 때문에 함수를 사용하는 것 보다 빠르다. 메서드가 지원하는 부분에 대해서는 메서드를 사용하고 그 이외의 것들에 대해서는 사용자정의 함수를 사용하자. 메서드들은 NA는 알아서 모두 무시한다.

In [1]:
import numpy as np
import pandas as pd

In [14]:
df = pd.DataFrame({'group':['a', 'a', 'a', 'b', 'b', 'b'],
                'value_1':np.arange(6),
                'value_2':np.random.randn(6)})
df

  group  value_1   value_2
0     a        0 -1.176147
1     a        1  1.350906
2     a        2 -0.210650
3     b        3  0.726959
4     b        4 -0.399910
5     b        5  0.790147

In [15]:
grouped = df.groupby('group')
grouped

## (1) groupby 메서드를 이용한 계산

### 1-1. count(), sum()

In [20]:
grouped.count()

       value_1  value_2
group
a            3        3
b            3        3

In [21]:
grouped.sum()

       value_1   value_2
group
a            3 -0.035892
b           12  1.117196

In [24]:
pd.DataFrame(grouped.sum()['value_2'])

        value_2
group
a     -0.035892
b      1.117196

### 1-2. min(), max()

In [ ]:
grouped.min()
grouped.max()

### 1-3. mean(), median

In [ ]:
grouped.mean()
grouped.median()

In [26]:
grouped.mean().add_prefix('mean_')

       mean_value_1  mean_value_2
group
a               1.0     -0.011964
b               4.0      0.372399

변수의 결과값에 접두사를 붙이는 방법

### 1-4. std(), var(), quantile()

분산과 표준편차 계산에는 n-1의 자유도를 사용한다.

### 1-5. first(), last()

### 1-6. describe()

In [28]:
grouped.describe()['value_1']

       count  mean  std  min  25%  50%  75%  max
group
a        3.0   1.0  1.0  0.0  0.5  1.0  1.5  2.0
b        3.0   4.0  1.0  3.0  3.5  4.0  4.5  5.0